[submodule "submodules/MvvmFoundation"]
	path = submodules/MvvmFoundation
	url = https://github.com/XITRIX/MVVMFoundation.git
[submodule "submodules/XTBottomSheet"]
	path = submodules/XTBottomSheet
	url = https://github.com/XITRIX/XTBottomSheet.git
